* {
	font-family: 'Courier New';
}

body {
	/*Source for background picture:
	http://4.bp.blogspot.com/-5NDngMp8T-I/UHc9k5vU4CI/AAAAAAAADuE/REtSXk2Qvtw/s1600/Iceland30.jpg*/
	background-image: url("Iceland30.jpg");
	//background-size: 100%;
	//background-repeat: no-repeat;
}

.well {
	opacity: 0.9;
}


.msg {
	margin-top: 215px;
	width: 500px;
	height: 50px;
}

#pers {
	margin: 0px;
	font-weight: lighter;
	/*padding: 0px;*/
}

#pers:focus {
	outline: none;
	border: solid 2px white;
    border-color: #CCCCCC;
    box-shadow: 0 0 3px #CCCCCC;
}

#nickname:focus {
    border-color: #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC;
}

#txtmsg {
	width: 630px;
}

#txtmsg:focus {
	outline: none;
	border: solid 1px white;
	border-color: #CCCCCC ;
    box-shadow: 0 0 3px #CCCCCC;
}

#privmsg{
	width: 630px;
}

#privmsg:focus {
	outline: none;
	border: solid 1px white;
	border-color: #CCCCCC ;
    box-shadow: 0 0 3px #CCCCCC;
}

#sendbutt {
	margin-left: 10px;
	border: #9999FF solid 2px;
	font-style: lighter;
}

#pers {
	margin-top: 5px;
	margin-bottom: 5px; 
}

#user {
	font-weight: bold;
	color: #9999FF;
}

#messy {
	margin-left: 20px;
}

#time {
	margin-left: 20px;
	font-weight: lighter;
	color: gray;
}

#topic {
	color: #9999FF;
	border: none;
}

#topic:hover {
	background-color: white;
	margin: 0px;
	outline: none;
    border-color: #CCCCCC;
    box-shadow: 0 0 5px #CCCCCC;
}

#chatbox {
	overflow: scroll;
	max-height: 300px;
	height: 300px;
	width: 700px;
}

#chatName:focus {
    border-color: #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC;
    opacity: 1;
}

#otherbutt {
	border: #9999FF solid 2px;
	background-color: white;
}

#kickbutt {
	width: 20px;
	height: 20px;
	color: #9999FF;
	background-color: transparent;
	border: none;
}

#banbutt {
	width: 20px;
	height: 20px;
	color: #9999FF;
	background-color: transparent;
	border: none;
}

#vs {
	color: #9999FF;
	font-weight: bold;
}

#msgbutt {
	width: 20px;
	height: 20px;
	color: #9999FF;
	background-color: transparent;
	border: none;
}

#opbutt {
	width: 20px;
	height: 20px;
	color: #9999FF;
	background-color: transparent;
	border: none;
}

ul {
	list-style-type: none;
}