.msg {
	margin-top: 215px;
	width: 500px;
	height: 50px;
}

#pers {
	margin: 0px;
	/*padding: 0px;*/
}

#pers:focus {
	outline: none;
	border: solid 2px white;
    border-color: #CCCCCC;
    box-shadow: 0 0 3px #CCCCCC;
}

#nickname:focus {
    border-color: #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC;
}

.header {
	color: #9999FF;
}

#txtmsg {
	width: 630px;
}

#txtmsg:focus {
	outline: none;
	border: solid 1px white;
	border-color: #CCCCCC ;
    box-shadow: 0 0 3px #CCCCCC;
}

#sendbutt {
	margin-left: 10px;
	border: #9999FF solid 2px;
}

#pers {
	margin-top: 5px;
	margin-bottom: 5px; 
}

#user {
	font-weight: bold;
	color: #9999FF;
}

#messy {
	margin-left: 20px;
}

#time {
	margin-left: 20px;
	font-weight: lighter;
	color: gray;
}

#topic {
	color: #9999FF;
}

#chatbox {
	overflow: scroll;
	max-height: 300px;
	height: 300px;
	width: 700px;
}

#chatName:focus {
    border-color: #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC;
}

#otherbutt {
	border: #9999FF solid 2px;
}

#kickbutt {
	width: 30px;
	height: 30px;
	color: #9999FF;
	background-color: white;
	border: none;
}

#banbutt {
	width: 30px;
	height: 30px;
	color: #9999FF;
	background-color: white;
	border: none;
}

#opbutt {
	width: 30px;
	height: 30px;
	color: #9999FF;
	background-color: white;
	border: none;
}

ul {
	list-style-type: none;
}